*.csproj.user
*.suo
*.user
*.sln.DotSettings.user
*/bin/
*/obj/
*/*/obj/
*/*/bin/
packages/
data/QC_Shew_DeconTools/
*/builds
MTDBCreator_WSU/MTDBCreatorInstall/Application Files/
MTDBCreator_WSU/MTDBCreatorInstall/setup.exe
