<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.11.1" targetFramework="net451" />
  <package id="OxyPlot.Core" version="1.0.0-unstable2100" targetFramework="net451" />
  <package id="OxyPlot.Wpf" version="1.0.0-unstable2100" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net451" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
</packages>