<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net40-Client" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="MathNet.Numerics" version="2.6.2" targetFramework="net40-Client" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.93.0" targetFramework="net40" />
</packages>